destination:
watch:
  -
    name: yoga
  -
    name: Workaholics
    category: !TV
    preference: 720p
  -
    name: Game of Thrones
    category: !TV
    preference: 720p
  -
    name: Almost Human
    category: !TV
    preference: 720p
  -
    name: Teenage Mutant Ninja Turtles
    category: !TV
  -
    name: Person of Interest
    category: !TV
  -
    name: Cosmos
    category: !TV
    preference: 720p
  -
    name: Continuum
    category: !TV
    preference: 720p

secret:
  email:
  mailgun_key:
  mailgun_domain:

WDMA:
  domain:
  username:
  password:

PDF:
  root:
  destination:
  tempdir:
